:root {
    --white: #FBFBFB;
    --bg-color: #170020;
    --blue: #45b8ff;
    --green: #8DAC50;
    --purple: #613B6F;
    --red: #DB382D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul, ol{
    list-style: none;
}